@import "~bootstrap/dist/css/bootstrap.css";


.lower-canvas{
    width: 100% !important;
    height: 65vh !important;
  }

  .upper-canvas {
    width: 100% !important;
    height: 65vh !important;
  }
  .canvas-container{
    width: 100% !important;
    height: 65vh !important;
  }